.anchor-pane {
	-fx-background-color:  #DCEDC8;
}
.home {
	-fx-background-image: url("../resources/logo-bg.png");
    -fx-background-size: 500 590;
}

.side-menu {
	-fx-background-color:  #33691E;
}
.side-menu-button {
	-fx-background-color: #33691E;
}

.about-link {
	-fx-border-style: none;
}

.about-link:hover {
	-fx-underline: false;
}

.tab {
	-fx-color: green; 
}