.anchor-pane, .toolbar {
	-fx-background-color:  #FFF3E0;
}

.label-container {
	-fx-background-color: linear-gradient(#FFCC80 0.0%, #FFE0B2 50.0%, #FFF3E0 100.0%);
}

.content-label {
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
	-fx-text-fill: #212121;
}

.home {
	-fx-background-image: url("../resources/logo-bg.png");
	-fx-background-size: 360.0 227.0;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}

.side-menu {
	-fx-background-color: #E65100;
}

.about-link {
	-fx-border-style: none;
}

.about-link:hover {
	-fx-underline: false;
}
.tab {    
	-fx-padding: 10.0 20.0 10.0 20.0;
	-fx-background-color: #FFE0B2;
	-fx-tab-min-height: 35.0px;
	-fx-tab-max-height: 45.0px;
	-fx-font-size: 20.0px;
}

.tab:selected {
	-fx-border-style: none;
    -fx-background-color: #FFB74D;
}

/*remove gray background on tabs */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.jfx-slider .colored-track,  .thumb, .animated-thumb {
	-fx-background-color: #ee6002;
}

.jfx-button.about-close {
	-fx-background-color:  #FB8C00;
}