.anchor-pane, .toolbar {
	-fx-background-color:  #FCE4EC;
}

.label-container {
	-fx-background-color: linear-gradient(#F48FB1 0.0%, #F8BBD0 50.0%, #FCE4EC 100.0%);
}

.side-menu {
	-fx-background-color: #880E4F;
}

.tab {    
	-fx-background-color: #F8BBD0;
}

.tab:selected {
    -fx-background-color: #F06292;
}

.jfx-slider .colored-track,  .thumb, .animated-thumb {
	-fx-background-color: #AD1457;
}

.jfx-button .about-close {
	-fx-background-color:  #EC407A;
}